name: macOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6
      - uses: lukka/get-cmake@latest  # <--= Just this one-liner suffices.
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          git submodule update --init

      - name: Build
        run: |
          python setup.py build

      - name: Install
        run: |
          pip install .
